.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 var(--page-padding);
  text-align: center;
  border-bottom: 1px solid var(--color-grey);
  margin-top: 10px;
}

.searchWrapper {
  position: relative;
}

.search {
  margin: 10px 0;
  width: 250px;
  border: none;
  border: 2px solid var(--color-grey);
  padding: 6px;
}

.searchDropdown {
  width: 250px;
  position: absolute;
  background-color: white;
  border: 2px solid var(--color-grey);
  margin-top: -11px;
}

.searchDropdownItem {
  width: 100%;
  padding: 10px;
}

.searchDropdownItem:hover {
  background-color: var(--color-grey);
  cursor: pointer;
}

.heading {
  font-family: var(--font-primary);
  font-size: 28px;
  font-weight: 400;
}